/* ############ DEFAULT STYLING ############ */
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: #A8A7A2;
}

.headings {
    color: #E8E3D2;
}

.accent {
    color: #BFA66B;
}

/* ----------- BANNER STYLING ----------- */
header {
    background-color: #0D0D0F;
    padding-top: 10px;
}

nav {
    background-color: #1A1A1E;
}

/* ----------- MAIN STYLING ----------- */
main {
    background-color: #0D0D0F;
    padding: 30px;
}

/* ----------- FOOTER STYLING ----------- */
footer {
    background-color: #1A1A1E;
    padding-top: 10px;
}